<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698656596097-iaoqssphj70vs6hjctnbrusqb780osgo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698656596097-iaoqssphj70vs6hjctnbrusqb780osgo</string>
	<key>API_KEY</key>
	<string>AIzaSyCUOniNN70w2lYFVti8spxwJwlF4iTyVmk</string>
	<key>GCM_SENDER_ID</key>
	<string>698656596097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bsoft.martivi</string>
	<key>PROJECT_ID</key>
	<string>martivi-ffa6f</string>
	<key>STORAGE_BUCKET</key>
	<string>martivi-ffa6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698656596097:ios:2d15c6cc25fb1661836d80</string>
	<key>DATABASE_URL</key>
	<string>https://martivi-ffa6f.firebaseio.com</string>
</dict>
</plist>